{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ATORS</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/all.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'ticket/css/webfonts/all.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'ticket/css/webfonts/fontawesome.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ticket/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/jquery.rateyo.css' %}"/>
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/inner-page-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
  
</head>
<body>
    <div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
    <header class="site-header">
        <!-- Top header Close -->
        <div class="main-header">
            <div class="container">
                <div class="logo-wrap" itemprop="logo">
                    <img src="{% static 'ticket/images/site-logo.png' %}" alt="Logo Image" style="width: 180px;">
                    <!-- <h1>Education</h1> -->
                </div>
                <div class="nav-wrap">
                    <nav class="nav-desktop">
                        <ul class="menu-list">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'bookTicket' %}">Book Ticket</a></li>
                            <li><a href="{% url 'myTicket' %}">My Ticket</a></li>
                            <li><a href="{% url 'login' %}">Log in <img src="{% static 'ticket/images/login.ico' %}" style="width:20px;" ></a></li>
                        </ul>
                    </nav>
                    <div id="bar">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div id="close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Close -->
    {% block content %} {% endblock content %}
    <footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer-first-section">
            <div class="container">
                <div class="box-wrap" itemprop="about">
                    <header>
                        <h1>about</h1>
                    </header>
                    <p>We find and compare the cheapest and best airline tickets for you. We're free, which means that we never add any booking fees.</p>
                    <h4><a href="tel:+923149291323"><i class="fas fa-phone"></i> +92 3149291323</a></h4>
                    <h4><a href="tel:+923491039706"><i class="fas fa-phone"></i> +92 3491039706</a></h4>
                    <h4><a href="mailto:abdurramankhan19@gmail.com"><i class="fas fa-envelope"></i> abdurramankhan19@gmail.com</a></h4>
                    <h4><a href=""><i class="fas fa-map-marker-alt"></i>Dir, Wari</a></h4>
                </div>
                <div class="box-wrap">
                    <header>
                        <h1>links</h1>
                    </header>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'bookTicket' %}">Book Ticket</a></li>
                        <li><a href="{% url 'myTicket' %}">My Ticket</a></li>
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    </ul>
                </div>
                <div class="box-wrap">
                    <header>
                        <h1>quick contact</h1>
                    </header>
                    <section class="quick-contact">
                        <input type="email" name="email" placeholder="Your Email*">
                        <textarea placeholder="Type your message*" name="message"></textarea>
                        <button>send message</button>
                    </section>
                </div>

            </div>
        </div>
        <!-- End of box-Wrap -->
        <div class="footer-second-section">
            <div class="container">
                <hr class="footer-line">
                <ul class="social-list">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-skype"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
                <hr class="footer-line">
            </div>
        </div>
        <div class="footer-last-section">
            <div class="container">
                <p>Copyright 2022 - 2023 &copy;  <span> | </span> Airline Ticket Online Reservation System</p>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="{% static 'ticket/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/all.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/jquery.rateyo.js' %}"></script>
<!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
<script type="text/javascript" src="{% static 'ticket/js/custom.js' %}"></script>
</body>
</html>